USE [master]
GO
/****** Object:  Database [MockExam]    Script Date: 4.6.2025 г. 10:30:13 ******/
CREATE DATABASE [MockExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MockExam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MockExam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MockExam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MockExam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MockExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MockExam]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 4.6.2025 г. 10:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[WorkplaceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 4.6.2025 г. 10:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [int] IDENTITY(1,1) NOT NULL,
	[ReservationDate] [datetime2](7) NOT NULL,
	[WorkplaceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Reservation] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ReservationDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4.6.2025 г. 10:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workplaces]    Script Date: 4.6.2025 г. 10:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workplaces](
	[WorkplaceId] [int] IDENTITY(1,1) NOT NULL,
	[HasMonitor] [bit] NOT NULL,
	[HasDockingStation] [bit] NOT NULL,
	[HasWindow] [bit] NOT NULL,
	[HasPrinter] [bit] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkplaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Workplaces] ADD  DEFAULT ((0)) FOR [HasMonitor]
GO
ALTER TABLE [dbo].[Workplaces] ADD  DEFAULT ((0)) FOR [HasDockingStation]
GO
ALTER TABLE [dbo].[Workplaces] ADD  DEFAULT ((0)) FOR [HasWindow]
GO
ALTER TABLE [dbo].[Workplaces] ADD  DEFAULT ((0)) FOR [HasPrinter]
GO
ALTER TABLE [dbo].[Workplaces] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([WorkplaceId])
REFERENCES [dbo].[Workplaces] ([WorkplaceId])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([WorkplaceId])
REFERENCES [dbo].[Workplaces] ([WorkplaceId])
GO
USE [master]
GO



--seed

INSERT INTO Workplaces (HasMonitor, HasDockingStation, HasWindow, HasPrinter, IsAvailable, Location)
VALUES 
(1, 1, 1, 0, 1, 'Floor 1 - Zone A'),
(1, 0, 0, 1, 1, 'Floor 1 - Zone B'),
(0, 1, 1, 1, 1, 'Floor 2 - Zone A'),
(1, 1, 0, 0, 1, 'Floor 2 - Zone B'),
(0, 0, 1, 1, 1, 'Floor 3 - Zone C'),
(0, 0, 0, 0, 1, 'Floor 4 - Zone A'),
(1, 1, 1, 1, 1, 'Floor 4 - Zone B'),
(0, 1, 0, 1, 1, 'Floor 5 - Zone A'),
(1, 0, 1, 1, 1, 'Floor 5 - Zone B'),
(1, 1, 0, 1, 1, 'Floor 6 - Zone C'),
(1, 0, 1, 0, 1, 'Floor 3 - Zone D');


INSERT INTO Favorites (Name, WorkplaceId, UserId)
VALUES
('My Window Desk', 3, 1),
('Near Printer', 2, 1),
('Quiet Corner', 6, 1),

('Dual Monitor Spot', 1, 2),
('Dock Only', 4, 2),
('View Desk', 5, 2),

('Printer Access', 7, 3),
('Top Floor Spot', 10, 3),
('No Distractions', 6, 3);
